@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
*{
    font-family: 'Open Sans', sans-serif;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.container{
    border: 2px solid black;
    background-color: rgb(47, 255, 64);
    height: 2000px;
}

.box{
    display: inline-block;
    border: 2px solid red;
    width: 150px;
    height: 150px;
    margin: 2px;
}

#box3{
    position: sticky;
    top: 4px;
}